<div class="pages-section">
    <h4>Your pages</h4>
    <a class='page' href="https://www.linkedin.com/in/ujjawal-singh-696852176/" target="_blank">
        
        <p class="name">Linkedin</p>
    </a>

    <a class='page' href="https://kiit.ac.in/" target="_blank">
        
        <p class="name">Kiit University</p>
    </a>
</div>

<div class="friends-section">
    <h4>Friends</h4>

        <div class="dp">
            <img src="./images/dp.jpg" alt="">
        </div>
        <% for (u of all_users) {%>
            <a class='friend ' href="/users/profile/<%= u.id %>">
        <p class="name"> <%= u.name %>  </p> 
    </a>
        
        <% } %>
</div>