<link rel="stylesheet" href="/css/home.css">




 <!-- our bettterview        -->
 <div class="container">
<!-- right side of view having some important link -->
        <div class="left-panel">
            <%- include('_leftpanel') -%>
               
            </div>


            <!-- middle part having psot and create post -->
        <div class="middle-panel" >
                <div class="post create">
                <% if(locals.user) { %>
                    <%- include('_middlePanel') -%>
                    
                <% } %>
                </div>
            
                <!-- posts part -->
                <div class="post" id="Posts-list-container">
                    <ul>
                        <% for (post of posts) { %>  
                            <!-- including post part -->
                            <%- include('_post') -%>
                        <% } %>
                    </ul>   
                </div>
        </div>


        <!-- right panel -->
        <div class="right-panel">
            <%- include ('_rightAside') -%>
        </div>
 </div>
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>




 