<h1> Sign up</h1>
<form action="/users/create" method="post"required>
    <input type="text" name="name" placeholder="YOur name"required>
    <input type="email" name="name" placeholder="YOur email"required>
    <input type="password" name="password" placeholder="Password"required>
    <input type="password" name="confirm_password" placeholder=" confirm Password" required>
    <input type="submit"values="signUp">



</form>